* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#banner {
    width: 100%;
}

body {
    background-color: rgb(25, 29, 123);

}



.cta {
    color: white;
    font-family: "Sigmar", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.description {
font-family: "DM Sans", sans-serif;
color: white;
text-align: center;
}

.card1 {
   padding: 2rem 1rem;
   
}

#Download-windows {
    background-color: white;
    border: 2px solid white;
    border-radius: 10%;
    margin-top: 1.5rem;
margin-bottom: 1rem;
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    height: 3rem;
    
}

#open-browser {
    background-color: rgb(88, 101, 242);
    border-radius: 10%;
    height: 1.5rem;
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    color: white;
    height: 3rem;
}

.button {
    padding: 0.8rem;
}
#open-browser {
    padding-top:0.8rem;
}

.icon-card {
    background-color: rgb(88, 101, 242);
    border-radius: 1.5rem;
    margin: 1rem;
}



.make {
    color: white;
    font-family: "Sigmar", sans-serif;
    font-size:30px;
    text-align:left;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 10rem;
   
}

.make-description {
    color: white;
    font-family: "DM Sans", sans-serif;
    padding-top: 2rem;
    padding-left: 1rem;
}

.image-card {
    width: 100%;
    padding: 1rem 2rem 4rem 2rem;
    border-radius: 10%
