* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#banner {
    width: 100%;
}

body {
    background-color: rgb(25, 29, 123);

}



.cta {
    color: white;
    font-family: "Sigmar", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.description {
font-family: "DM Sans", sans-serif;
color: white;
text-align: center;
}

.card1 {
   padding: 2rem 1rem;
   
}

.download{
    background-color: white;
   border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    padding: 0.5rem 6.5rem;
    
}

.button-browser {
    background-color: rgb(88, 101, 242);
    border-radius: 2rem;
    text-align: center;
    font-family:"DM Sans", sans-serif ;
    color: white;
    padding: 0.5rem 6rem;
   border: none;
}

#button {
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: none;
    display:block;
    width: 100%;
    text-align: center;
}


.icon-card {
    background: linear-gradient(#343894,#5460e8) rgb(88, 101, 242);
    border-radius: 1.5rem;
    margin: 1rem;
    position: relative;
    z-index: 2;
}
.cube-icon {
    position: absolute;
    width: 20%;
    top: -40px;
    left: 40%;

}

.eyes-icon {
    position: absolute;
    width: 20%;
    top: -50px;
    left: 40%;

}



.make {
    color: white;
    font-family: "Sigmar", sans-serif;
    font-size:30px;
    text-align:left;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 10rem;
    padding-top: 2rem;
   
}

.make-description {
    color: white;
    font-family: "DM Sans", sans-serif;
    padding-top: 1rem;
    padding-left: 1rem;
}

.video-card {
    width: 100%;
    padding: 1rem 2rem 4rem 2rem;
   border-radius: 10%;
  
}

#chat-button {
    position: fixed;
    bottom: 4px;
    z-index: 3;
    left: 450px;
    background-color:transparent;
    border-radius: 20%;
   
}

#icon-chat {
    width: 80%;
}